/* Points pour castor */
.castor-parent {
    max-width: 600px;
    position: relative;
}

.dot {
    background: #0a0aa0;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

#dot-1 {
    top: 73%;
    left: 10%;
}

#dot-2 {
    top: 30%;
    right: 20%;
}

#dot-3 {
    top: 60%;
    left: 50%;
}

#castor {
    width: 100%;
    max-width: 800px;
}
/* 
#text-1, #text-2, #text-3 {
    display: none;
} */