@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url("/images/bg_riviere_2.png");
  background-size: contain;
}

#titraille {
  height: 550px;
}

h1, h2 {
  font-family: "BioRhyme", serif;
}

h2 {
  font-size: 2rem;
  margin-top: 3%;
}

.castorclic {
  background-color: rgb(7 99 81 / 90%);
}

.game button {
  background-color: white;
  color: #076351;
  padding: 2px 15px 2px 15px;
  margin-right: 20px;
}

.footer, .chat, .barrages {
  background-color: rgb(7 99 81 / 90%);
}

.resp-img {
  position: relative!important;
  max-width:800px;
}